footer {
    background-color: #2b2e34;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem 0;
}

footer h3, footer p {
    color: white;
}

.footert2p1, .footert2p2 {
    font-style: italic;
}

.text1-footer {
    width: 30%;
}

.text2-footer {
    width: 30%;
}

.footer-h3, .footert1p1, .footert2p1 {
    padding-bottom: 0.5rem;
}

.text2-footer {
    padding-top: 2rem;
}

.footert2p1 , .footert2p2 {
    text-align: right;
}

/* För att anpassa footern efter mobil och större skärmar */

@media screen and (max-width:600px) {
    
    footer {
        padding: 1.5rem 0;
    } 

    .text2-footer {
        padding-top: 1rem; 
    }
    
    .text2-footer {
        padding-top: 1.5rem;
    }
 
}

@media screen and (min-width:900px) {

    .text2-footer {
        padding-top: 2.5rem;
    }

}