* {
    margin:0;
    padding:0;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    border-style:border-box;
    color: #404040;
}

body {
    background-color:#333;
}

p, strong{
    font-size:1.2vw;
}

/* Lägg fontsize på alla i viewwidth */

h1, h2, h3 {
    color:#383838;
}

/* för att få det att se ut som ett nyhetsbrev som ser bra ut på stora skärmar
max-width är 900px sen går den över till 80% av sidan */

.wrapper {
    width:80%;
    max-width:900px;
    margin:auto;
    background-color:white;
    padding:0.5rem;
}