.section-1 {
    position:relative;
    width:100%;
    padding-bottom:15%;
    
    
}


.section1-text {
    width:40%;
    padding-left:20%;
}

.section1-img {
    position:absolute;
    width:50%;
    left:50%;
    top:-33%;
}

/* Media queries för att få mobilen och section 1 responsive */



@media (max-width:600px)  {
    .section1-img {
        top:-17%;
    }
    .section-1 {
        padding-bottom: 35%;
    }
}

@media (min-width:601px)  {
    .section1-img {
        top:-20%;
    }
    .section-1 {
        padding-bottom: 35%;
    }
}

@media (min-width:1280px) {
    .section-1 {
        padding-bottom:25%;
    }
}

@media (min-width:1380px) {
    .section1-img {
        top:-16%;
    }
    


}