.section-4 {
    position:relative;
    padding-top: 8vh;
    padding-bottom: 8vh;
    background: url(/bilder/Q1_newsletter-02.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.section4-text {
    position:relative;
    width:60%;
    left:20%;
    text-align:center;
    padding-top: 2rem;
    
    
}

.section4-h2 {
    padding-bottom: 2rem;
} 


/* För att få bakgrunden att anpassa sig efter enhet */

@media screen and (max-width:600px)  {
    .section-4 {
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .section4-h2 {
        padding-bottom: 1rem;
    } 
}

@media screen and (min-width:601px)  {
    .section-4 {
        padding-top: 6vh;
        padding-bottom: 6vh;
    }
}

@media screen and (min-width:1000px)  {
    .section-4 {
        padding-top: 11vh;
        padding-bottom: 11vh;
    }
    .section4-h2 {
        padding-bottom: 3rem;
    } 
}


