
/* Texten flyter ihop i 1420px uppåt */

.section-2 {
    position:relative;
   
}

.section2-img {
    width:50%;
}

.section2-p1 {
    width:40%;
    position:absolute;
    top:20%;
    left:45%;
    text-align:right;
}

.section2-p2 {
    width:40%;
    position:absolute;
    top:40%;
    left:45%;
    text-align:right;
    
}