.video-section {
    display: flex;
    justify-content: center;
}

video {
    height: 30vh;
    width: 100%;
    object-fit: cover;  
}

/* mindre height för mobil */

@media (max-width:420px)  {
    video {
        height: 18vh;
    }
}

/* för stora skärmar */

@media (min-width:1200px)  {
    video {
        height: 50vh;
    }
}