@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  color: #404040; }

body {
  background-color: #333; }

/* för att få det att se ut som ett nyhetsbrev som ser bra ut på stora skärmar
max-width är 900px sen går den över till 80% av sidan */
.wrapper {
  width: 80%;
  max-width: 900px;
  margin: auto;
  background-color: white; }

h1, h2, h3 {
  color: #383838; }

/* Font-size rem används bara om webbläsarn inte klarar av vw */
p, strong {
  font-size: 1rem;
  font-size: 1.2vw; }

strong {
  font-weight: 600; }

h1 {
  font-family: sans-serif;
  font-size: 1.2rem;
  font-size: 1.4vw;
  font-weight: 600; }

h2 {
  font-size: 2.5rem;
  font-size: 3.4vw;
  font-weight: 800; }

h3 {
  font-size: 1.4rem;
  font-size: 2.2vw;
  font-weight: 800; }

/* För att texten inte ska bli för stor på större skärmar */
@media screen and (min-width: 1280px) {
  p, strong {
    font-size: 1rem; } }

@media screen and (min-width: 1280px) {
  h2 {
    font-size: 2.5rem; } }

@media screen and (min-width: 1280px) {
  h3 {
    font-size: 1.4rem; } }

.voodoo {
  font-size: 1.56rem;
  font-size: 1.6vw;
  text-align: center;
  padding-top: 1rem;
  position: relative;
  bottom: 0.85rem; }

.header-img {
  width: 100%;
  position: relative;
  bottom: 2.8rem; }

@media screen and (min-width: 700px) {
  .voodoo {
    bottom: 0rem;
    top: 0.8rem; } }

.into-text {
  position: relative; }

.intro-h2 {
  text-align: center;
  position: relative;
  bottom: 4.5rem;
  left: 13%; }

.intro-p1 {
  text-align: center;
  position: relative;
  bottom: 3.5rem; }

.intro-p2 {
  text-align: center;
  position: relative;
  left: 9%;
  bottom: 3.5rem; }

@media screen and (min-width: 750px) {
  .intro-h2 {
    bottom: 6.5rem; }
  .intro-p1 {
    bottom: 4.5rem; }
  .intro-p2 {
    bottom: 4.5rem;
    left: 9%; } }

@media screen and (min-width: 1200px) {
  .intro-p2 {
    left: 11%; } }

.section-1 {
  position: relative;
  width: 100%;
  padding-bottom: 15%; }

.section1-text {
  width: 40%;
  position: relative;
  left: 20%; }

.section1-img {
  position: absolute;
  width: 50%;
  left: 50%;
  top: -20%; }

.section1-span {
  display: inline-block;
  width: 100%;
  height: 5%; }

.video-section {
  display: flex;
  justify-content: center; }

video {
  height: 30vh;
  width: 100%;
  object-fit: cover; }

/* mindre height för mobil */
@media (max-width: 420px) {
  video {
    height: 18vh; } }

/* för stora skärmar */
@media (min-width: 1200px) {
  video {
    height: 45vh; } }

.section-2 {
  position: relative; }

.section2-img {
  width: 50%; }

.section2-p {
  width: 40%;
  position: absolute;
  top: 20%;
  left: 45%;
  text-align: right; }

.section2-span {
  display: inline-block;
  width: 100%;
  height: 5%; }

.section-3 {
  padding: 0 6rem; }

.section3-span {
  display: inline-block;
  width: 100%;
  height: 5%; }

@media screen and (max-width: 700px) {
  .section-3 {
    padding: 0 3rem; } }

.section-4 {
  position: relative;
  padding-top: 8vh;
  padding-bottom: 8vh;
  background: url(/bilder/Q1_newsletter-02.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.section4-text {
  position: relative;
  width: 60%;
  left: 20%;
  text-align: center;
  padding-top: 2rem; }

.section4-h2 {
  padding-bottom: 2rem; }

/* För att få bakgrunden att anpassa sig efter enhet */
@media screen and (max-width: 600px) {
  .section-4 {
    padding-top: 2vh;
    padding-bottom: 2vh; }
  .section4-h2 {
    padding-bottom: 1rem; } }

@media screen and (min-width: 601px) {
  .section-4 {
    padding-top: 6vh;
    padding-bottom: 6vh; } }

@media screen and (min-width: 1000px) {
  .section-4 {
    padding-top: 11vh;
    padding-bottom: 11vh; }
  .section4-h2 {
    padding-bottom: 3rem; } }

footer {
  background-color: #2b2e34;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem 0; }

footer h3, footer p {
  color: white; }

.footert2p1, .footert2p2 {
  font-style: italic; }

.text1-footer {
  width: 30%; }

.text2-footer {
  width: 30%; }

.footer-h3, .footert1p1, .footert2p1 {
  padding-bottom: 0.5rem; }

.text2-footer {
  padding-top: 2rem; }

.footert2p1, .footert2p2 {
  text-align: right; }

/* För att anpassa footern efter mobil och större skärmar */
@media screen and (max-width: 600px) {
  footer {
    padding: 1.5rem 0; }
  .text2-footer {
    padding-top: 1rem; }
  .text2-footer {
    padding-top: 1.5rem; } }

@media screen and (min-width: 900px) {
  .text2-footer {
    padding-top: 2.5rem; } }
