@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  border-style: border-box;
  color: #404040; }

body {
  background-color: #333; }

p, strong {
  font-size: 1.2vw; }

h1, h2, h3 {
  color: #383838; }

/* för att få det att se ut som ett nyhetsbrev som ser bra ut på stora skärmar
max-width är 900px sen går den över till 80% av sidan */
.wrapper {
  width: 80%;
  max-width: 900px;
  margin: auto;
  background-color: white;
  padding: 1rem; }

.voodoo {
  font-size: 25px;
  font-size: 1.6vw;
  text-align: center;
  padding-top: 1rem;
  position: relative;
  bottom: 0.85rem; }

.header-img {
  width: 100%;
  position: relative;
  bottom: 2.8rem; }

header {
  border: 1px solid green; }

@media (min-width: 700px) {
  .voodoo {
    bottom: 0rem;
    top: 1.2rem; } }

.into-text {
  position: relative; }

.intro-h2 {
  font-size: 2.8rem;
  font-size: 2.5vw;
  text-align: center;
  position: relative;
  bottom: 4.5rem;
  left: 13%; }

.intro-p1 {
  text-align: center;
  position: relative;
  bottom: 3.5rem; }

.intro-p2 {
  text-align: center;
  position: relative;
  left: 9%;
  bottom: 3.5rem; }

@media (min-width: 750px) {
  .intro-h2 {
    bottom: 6.5rem; }
  .intro-p1 {
    bottom: 4.5rem; }
  .intro-p2 {
    bottom: 4.5rem;
    left: 9%; } }

.section-1 {
  position: relative;
  width: 100%;
  padding-bottom: 15%;
  border: 1px solid red; }

.section1-text {
  width: 40%;
  padding-left: 20%; }

.section1-img {
  position: absolute;
  width: 50%;
  left: 50%;
  top: -33%; }

@media (min-width: 700px) {
  .section1-img {
    top: -20%; }
  .section-1 {
    padding-bottom: 35%; } }

@media (max-width: 600px) {
  .section1-img {
    top: -17%; }
  .section-1 {
    padding-bottom: 35%; } }

.video-section {
  display: flex;
  justify-content: center;
  border: 1px solid black; }

video {
  height: 40vh;
  width: 100%;
  object-fit: cover;
  /* Funkar kanske inte på alla webbläsare? */ }

@media (max-width: 700px) {
  video {
    height: 15vh; } }

.section-2 {
  position: relative;
  border: 1px solid black; }

.section2-img {
  width: 50%; }

.section2-p1 {
  width: 40%;
  position: absolute;
  top: 20%;
  left: 45%;
  text-align: right; }

.section2-p2 {
  width: 40%;
  position: absolute;
  top: 40%;
  left: 45%;
  text-align: right; }

.section-3 {
  padding: 0 6rem; }

.section3-p2 {
  padding-top: 2rem; }

@media (max-width: 700px) {
  .section-3 {
    padding: 0 3rem; }
  .section3-p2 {
    padding-top: 1rem; } }

.section-4 {
  padding-top: 10vh;
  background: url(/bilder/Q1_newsletter-02.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10vh; }

.section4-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }

.section4-h2 {
  font-size: 2.5vw;
  padding-bottom: 2rem; }

.section4-p {
  width: 60%; }

@media (max-width: 700px) {
  .section-4 {
    padding-top: 5vh;
    padding-bottom: 5vh; } }

footer {
  background-color: #2b2e34;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem 0; }

footer h3, footer p {
  color: white; }

.text1-footer {
  width: 30%; }

.text2-footer {
  width: 30%; }

.footer-h3 {
  font-size: 2vw;
  padding-bottom: 0.5rem; }

.footert1p1 {
  padding-bottom: 0.5rem; }

.text2-footer {
  padding-top: 2rem; }

.footert2p1 {
  padding-bottom: 0.5rem; }

.footert2p1, .footert2p2 {
  text-align: right; }
